/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #CE4E61;
    color: #fff;
    border: none;
    padding: 16px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #b03e4b;
}


/* Header related styles start */

header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.promo-banner {
    background: #1C1C1C;
    padding: 14px 0;
}

.promo-banner p {
    color: rgb(255, 255, 255);
    font-family: "Arsenal", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 12px 10vw;
}

/* Navigation Logo */

nav .logo img {
    max-height: 50px;
}

nav .logo-text {
    color: rgb(206, 78, 97);
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}


/* Navigation Links */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
}

nav li {
    position: relative;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    display: block;
}

/* Dropdown styles */
nav li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    display: none;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

nav li:hover ul {
    display: flex;
}

nav li ul li {
    width: 150px;
}


/* Navigation Icons */
.nav-icons li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 6px 0px;

    /* border: dashed 2px #ccc; */
    border-radius: 20px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}

/* Hamburger menu (Mobile) */
.menu-dropdown {
    display: none;
}

.menu-toggle {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

/* Mobile dropdown menu */
.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 5vw;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    border-radius: 10px;
    z-index: 999;
    list-style: none;
}

.dropdown-menu.show {
    display: flex;
}


/* Header related styles end */




/* Main content styles start */

/* Hero section styles */
.hero {
    background: #fbfbfb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10vw 0 10vw;
}

.hero-text {
    flex: 1;
    max-width: 50%;
    padding: 20px;
}

.hero-heading {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    z-index: 1;
}

.circle-1,
.circle-2 {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.circle-1 {
    background: #FFC7CF;
    top: 0px;
    left: 0px;
}

.circle-2 {
    background: #CE4E61;
    top: 0px;
    left: 35px;
}

.hero-heading {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.hero-text h3 {
    position: relative;
    z-index: 1;
    left: 65px;
    top: 5px;
    color: rgb(29, 24, 24);
    font-family: "Maven Pro", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 106%;
    letter-spacing: -4%;
    text-align: left;
}


.hero-text h1 {
    max-width: 500px;
    color: rgb(29, 24, 24);
    font-family: "Maven Pro", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    line-height: 104%;
    letter-spacing: -4%;
    text-align: left;
    margin-bottom: 30px;
}

.hero-text h1 span {
    color: #CE4E61;
    display: inline-block;
    transform: rotate(-5deg);
    transform-origin: bottom left;
}

.hero-text p {
    color: rgb(22, 22, 22);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 164%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;
}

.hero-image {
    position: relative;
    flex: 1;
    max-width: 50%;
}

.hero-image img {
    width: auto;
    height: 100%;
    left: 0px;
    position: relative;
    z-index: 1;
}

.hero-image-underlay {
    position: absolute;
    top: -30px;
    left: -100px;
    width: 100%;
    height: 100%;
    background: radial-gradient(50.00% 50.00% at 50% 50%, rgb(255, 199, 207) 34.615%, rgba(255, 255, 255, 0) 100%);
    z-index: 0;
    border-radius: 20px;
}

.image-quote {
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 250px;
    z-index: 2;
    font-size: 0.7rem;
}

.image-quote i {
    color: rgb(206, 78, 97);
    font-size: 2.5rem;
    left: -50px;
}

.image-quote h2 {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #777;
}


/* Browse Collection Section */
.browse-collection {
    padding: 60px 10vw;
    background: #fff;
}

.browse-collection h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: rgb(29, 24, 24);
}

.collection-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    color: rgb(28, 28, 28);
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0%;
}

.card p {
    color: rgb(174, 89, 40);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

/* Responsive for medium screens */

@media (max-width: 1024px) {

    /* Navigation Links and Icons */

    .nav-links,
    .nav-icons {
        display: none;
    }

    .menu-dropdown {
        display: block;
    }

    .dropdown-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 120px;
        right: 50px;
        width: 200px;
        border: 2px solid #CE4E61;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 10px;
        z-index: 100;
    }

    .dropdown-menu.show {
        display: flex;
        flex-direction: column;
    }

    /* Hero Section */
    .hero {
        flex-direction: column-reverse;
        text-align: center;
        padding: 40px 5vw;
    }

    .hero-text {
        text-align: left;
        max-width: 100%;
    }

    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-image {
        max-width: 100%;
        margin-top: 20px;
    }

    .hero-image img {
        width: 60%;
    }

    .image-quote {
        text-align: left;
        top: 50px;
        right: -75px;
    }

    /* Browse Collection Section */
    .collection-cards {
    grid-template-columns: repeat(2, 1fr);
    
}





}



/* Responsive for small screens */
@media (max-width: 768px) {

    .hero {
        flex-direction: column-reverse;
        text-align: center;
        padding: 40px 5vw;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-image {
        width: 100%;
        max-width: none;
    }

    .image-quote {
        font-size: 0.5rem;
        right: 0px;
        max-width: 150px;
    }

    .image-quote h2 {
        margin-top: 5px;
        font-size: 0.5rem;
        color: #777;
    }

}