/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Maven+Pro:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header related styles start */

header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.promo-banner {
    background: #1C1C1C;
    padding: 14px 0;
}

.promo-banner p {
    color: rgb(255, 255, 255);
    font-family: "Arsenal", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 12px 10vw;
}

/* Navigation Logo */

nav .logo img {
    max-height: 50px;
}

nav .logo-text {
    color: rgb(206, 78, 97);
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}


/* Navigation Links */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
}

nav li {
    position: relative;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    display: block;
}

/* Dropdown styles */
nav li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    display: none;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

nav li:hover ul {
    display: flex;
}

nav li ul li {
    width: 150px;
}


/* Navigation Icons */
.nav-icons li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 6px 0px;

    /* border: dashed 2px #ccc; */
    border-radius: 20px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}


/* Header related styles end */




/* Main content styles */